<app-pagination-toolbar *ngIf="enablePagination" [pagination]="pagination" [rowsPerPage]="rowsPerPage" (previousClick)="onPreviousClick()"
    (nextClick)="onNextClick()" (pageSizeChanged)="onPageSizeChanged()" (pageNumberChanged)="onPageNumberChanged($event)">
</app-pagination-toolbar>

<ag-grid-angular style="width:100%;" class="ag-fresh" [columnDefs]="columnDefs" [gridOptions]="gridOptions" (gridReady)="onReady($event)">
</ag-grid-angular>

<app-pagination-toolbar *ngIf="enablePagination" [pagination]="pagination" [rowsPerPage]="rowsPerPage" (previousClick)="onPreviousClick()"
    (nextClick)="onNextClick()" (pageSizeChanged)="onPageSizeChanged()" (pageNumberChanged)="onPageNumberChanged($event)">
</app-pagination-toolbar>
