<div style="text-align:center">
  <br/>
  <br/> Ag Grid
  <div class="clearfix">
  </div>
  <div class="clearfix">
  </div>

  <!-- <div>

    <app-grid column-definition-key="data" [column-definition-service]='columnDefintionService' [rowData]="rowData" [loadData]="loadData"
      (gridReady)="onReady($event)" [parent]="this" (getRows)="getRows($event)" >
    </app-grid>

  </div> -->
  <div class="container">
    <div class="col-md-3 col-xs-6 col-lg-3">
        <!-- [staticList]="['ALL']" --> 
      <app-type-ahead [property]="property" [service]="service" (selectItemEvent)="onSelectItem($event)" [isDirectResult]="true"  >
      </app-type-ahead>
    </div>
  </div>

</div>
