<div style="text-align:center">
  <br/>
  <br/> Ag Grid
  <div class="clearfix">
  </div>
  <div class="clearfix">
  </div>

  <div>
    
    <!-- <app-grid column-definition-key="data" [column-definition-service]='columnDefintionService' [rowData]="rowData" [loadData]="loadData"
      (gridReady)="onReady($event)" [parent]="this">
    </app-grid> -->

  </div>

  <div>
    <label for="typeahead-template">Search for a state:</label>
    <type-ahead [service]="service" placeholder="Search" >
    </type-ahead>
  </div>

  <ng-template #popContent>Hello,
    <b>{{name}}</b>!</ng-template>
</div>
