<div style="text-align:center">
  <br/>
  <br/> Ag Grid
  <div class="clearfix">
  </div>
  <div class="clearfix">
  </div>

  <div>

    <!-- <app-grid column-definition-key="data" [column-definition-service]='columnDefintionService' [rowData]="rowData" [loadData]="loadData"
      (gridReady)="onReady($event)" [parent]="this">
    </app-grid> -->

  </div>

  <div [formGroup]="mainForm">
    <label for="typeahead-template">Search for a state:</label>
    <type-ahead formControlName="country" [service]="service" placeholder="Search">
    </type-ahead>

  </div>


  <type-ahead [(ngModel)]="country" [service]="service" placeholder="Search">
  </type-ahead>

  <pre>Model: {{ mainForm.value | json }}</pre>

  <pre>Model: {{ country | json }}</pre>
</div>
